@{
    ViewBag.Title = "HoUme Page";
}

<div class="jumbotron">
    <h1>SrK-Gym</h1>
    <p class="lead">SrK-Gym este o asociatie ce promoveaza atat sanatatea corpului, cat si sanatatea mintii.</p>
</div>
